.container {
    width: 37%;
    border: 1px solid turquoise;
    border-radius: 8px;
    padding: 30px;
    margin-top: 150px;
    background: linear-gradient(
      109.6deg,
      rgb(185, 212, 242) 11.2%,
      rgb(244, 210, 226) 100.3%
    );
  }
  .search-place {
    border-radius: 20px;
    padding: 5px 6px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .search-button,
  .search-place,
  .current-location {
    background: linear-gradient(
      109.6deg,
      rgb(185, 212, 242) 11.2%,
      rgb(244, 210, 226) 100.3%
    );
  }
  h4 {
    font-weight: 650;
  }
  